.navbar {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 0;
  height: 80px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
}

.logoLink {
  display: flex;
  align-items: center;
} 

@media (max-width: 768px) {
  .navbar {
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .logo {
    width: 44px;
    height: 44px;
  }
}
